{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container my-5">
  <div class="row">
      <div class="col-12 text-center">
          <h1 class="mb-4">NOSOTROS</h1>
      </div>
  </div>

  <div class="row mb-5">
      <div class="col-md-6">
          <h2>Misión</h2>
          <p class="text-justify">Nuestra misión es proporciona la informacion de talentos deportivos excepcionales. Nos esforzamos por proporcionar un enfoque integral al scouting, destacando no solo las habilidades atléticas, sino también el potencial personal y el carácter de cada jugador.</p>
      </div>
      <div class="col-md-6">
          <h2>Visión</h2>
          <p class="text-justify">Ser la pagina de Scouting líder a nivel mundial, reconocida por nuestra capacidad para identificar y nutrir a futuros campeones del deporte. Aspiramos a crear un legado de éxito y excelencia a través de un compromiso inquebrantable con la calidad y la integridad.</p>
      </div>
  </div>

  <div class="row mb-5">
      <div class="col-md-12">
          <h2>Valores</h2>
          <ul>
              <li><strong>Integridad:</strong> Actuamos con honestidad y transparencia en todas nuestras actividades.</li>
              <li><strong>Excelencia:</strong> Buscamos la excelencia en cada aspecto de nuestro trabajo.</li>
              <li><strong>Pasión:</strong> Nos apasiona el deporte y la búsqueda de nuevos talentos.</li>
              <li><strong>Innovación:</strong> Utilizamos las mejores prácticas y tecnología para mejorar continuamente nuestros métodos de scouting.</li>
          </ul>
      </div>
  </div>
</div>

{% endblock %}